body {
    box-sizing: border-box;
    margin: 0 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #01140e;
}
h1{
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 255, 242);
    margin-top: 10rem;
    font-size: 10rem;
    margin-bottom: 0;
}
a{
    margin-bottom: 20rem; 
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #01140e;
    font-weight: 700;
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}
a:hover{
    background-color: #01140e;
    border-color: #fff;
    color: #fff;
}
.main{
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 5rem;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    margin-bottom: 5px;
}
P {
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
    margin: 2rem;
    font-size: 20px;
    text-align: center;
}
li{
    margin: 5px 0;
}
li:last-child{
    margin-bottom: 5rem;
}
.box{
    background-color: #01140e;
    color:aqua;
    padding: 5rem;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10rem;
}